/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* variables */
:root {
  --color-secondary: #000;
  --color-primary: #fff;
  --color-grey: #2a2e35;
  --font-family: "poppins", sans-serif;
}
/* body */
body {
  background-color: var(--color-primary);
  font-family: var(--font-family);
  font-size: 16px;  
  color: var(--color-primary);
}
/* container */
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* calculator */
#calculator {
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(80px, 1fr));
  gap: 10px;
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  background-color: var(--color-grey);
}
/* media queries */
@media (max-width: 767px) {
#calculator{
  max-width: none;
}
}
/* #display */
#display {
  grid-column: 1 / span 4;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 10px;
  text-align: right;
}
/* buttons */
button {
  font-size: 20px;
  padding: 10px;
  margin: 4px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
button:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}



