* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-secondary: #000;
  --color-primary: #fff;
  --color-grey: #2a2e35;
}

body {
  background-color: var(--color-primary);
  font-family: "poppins", sans-serif;
  font-size: 1.1rem;  
  color: var(--color-primary);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(80px, 1fr));
  padding: 10px;
  margin: 0 auto;
  max-width: 400px;
  background-color: var(--color-grey);
}

#display {
  grid-column: 1 / span 4;
  background-color: var(--color-secondary);
  padding: 10px;
  text-align: right;
}

button {
  font-size: 20px;
  padding: 10px;
  margin: 4px;
}
@media (max-width: 600px) {
  button{
    font-size: 16px;
    padding: 6px;
    margin: 2px;
  }
}



